JWT_TOKEN_EXPIRATION_DATE=1
JWT_TOKEN_EXPIRATION_DATE_REMEMBERME=72
CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
MAIN_URL=
DISCOURSE_CON_SECRET=YOUR_CONNECTION_SECRET
DISCOURSE_PUBLIC_APIKEY=YOUR_DISCOURSE_APIKEY
DISCOURSE_ADMIN_USERNAME=YOUR_ADMIN_USENAME
DISCOURSE_BASE_URL=https://your.host.org